@font-face {
  font-family: "Kabel Black";
  src: url("/fonts/Kabel_Black_Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.menu-title {
  font-family: "Kabel Black", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kabel Black", sans-serif;
}
