@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-CondBold.ttf") format("truetype");
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/BarlowCondensed-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/Iosevka-Regular.ttf") format("truetype");
}

.menu-title {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
}

.header {
  font-family: "OpenSans", sans-serif;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
}

.tooltiptext {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
}
