@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-CondBold.ttf") format("truetype");
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/BarlowCondensed-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka";
  src: url("/fonts/Iosevka-Regular.ttf") format("truetype");
}
