#sidebar,
#menu-bar,
.nav-chapters,
.mobile-nav-chapters {
    display: none;
}

#page-wrapper.page-wrapper {
    transform: none !important;
    margin-inline-start: 0px;
    height: 100%;
}

#content {
    max-width: none;
    margin: 64px;
    padding: 64px;
    overflow: visible;
}

.page {
    height: 100%;
    margin: 0;
    border-radius: 0;
}

.get-help {
    display: none;
}

/* Special Max theme overrides */
.max .page {
    background-color: transparent;
    background-image: url('./../assets/background.jpg');
    background-size: auto 297mm;
    background-position: top center;
    background-repeat: repeat-y;
}


code {
    direction: ltr !important;
}

pre>.buttons {
    z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    page-break-inside: avoid;
    page-break-after: avoid;
    padding-top: 1em;
    margin-top: 0;
}

h1::before {
    display: block;
    visibility: visible !important;
}

pre,
code {
    page-break-inside: avoid;
    white-space: pre-wrap;
}

.fa {
    display: none !important;
}