/* Globals */

:root {
    --sidebar-width: 20vw;
    --sidebar-resize-indicator-width: 8px;
    --sidebar-resize-indicator-space: 2px;
    --page-padding: 16px;
    --content-max-width: 750px;
    /* --menu-bar-height: 130px; */
    --mono-font: "Iosevka", "Source Code Pro", Consolas, "Ubuntu Mono", Menlo,
        "DejaVu Sans Mono", monospace, monospace;
    --code-font-size: 14px;
    /* please adjust the ace font size accordingly in editor.js */

    --k-black: #161512;
    --k-darkgray: #22211f;
    --k-orange: #f25221;
    --k-honey: #ffd4ae;
    --k-white: #fff5d9;
    --k-beige: #e2dac4;
}

/* Themes */

.light {
    --bg: var(--k-white);
    --page-bg: var(--k-beige);
    --bg-bg: var(--k-beige);
    --fg: var(--k-black);

    --sidebar-bg: var(--k-honey);
    --sidebar-fg: var(--k-darkgray);
    --sidebar-non-existant: var(--k-white);
    --sidebar-active: var(--k-orange);
    --sidebar-spacer: var(--k-beige);

    --scrollbar: var(--page-bg);

    --icons: var(--k-darkgray);
    --icons-hover: var(--k-black);

    --links: var(--k-orange);

    --inline-code-color: var(--k-darkgray);
    --inline-code-bg: var(--k-white);

    --code-box-bg: var(--k-white);
    --code-box-color: var(--k-darkgray);

    --theme-popup-bg: var(--k-beige);
    --theme-popup-border: var(--k-darkgray);
    --theme-hover: var(--k-white);

    --quote-bg: var(--k-white);
    --quote-border: var(--k-beige);

    --warning-border: var(--k-orange);

    --table-border-color: var(--k-darkgray);
    --table-header-bg: var(--k-white);
    --table-alternate-bg: var(--k-white);

    --searchbar-border-color: var(--k-black);
    --searchbar-bg: var(--k-white);
    --searchbar-fg: var(--k-darkgray);
    --searchbar-shadow-color: transparent;
    --searchresults-header-fg: var(--k-darkgray);
    --searchresults-border-color: var(--k-black);
    --searchresults-li-bg: var(--k-beige);
    --search-mark-bg: var(--k-orange);

    --color-scheme: light;
}

.dark {
    --bg: var(--k-darkgray);
    --page-bg: var(--k-black);
    --bg-bg: var(--k-black);
    --fg: var(--k-beige);

    --sidebar-bg: var(--k-black);
    --sidebar-fg: var(--k-beige);
    --sidebar-non-existant: var(--k-orange);
    --sidebar-active: var(--k-orange);
    --sidebar-spacer: var(--k-beige);

    --scrollbar: var(--page-bg);

    --icons: var(--k-beige);
    --icons-hover: var(--k-white);

    --links: var(--k-orange);

    --inline-code-color: var(--k-white);
    --inline-code-bg: var(--k-darkgray);

    --code-box-color: var(--k-white);
    --code-box-bg: var(--k-darkgray);

    --theme-popup-bg: var(--k-darkgray);
    --theme-popup-border: var(--k-beige);
    --theme-hover: var(--k-darkgray);

    --quote-bg: var(--k-darkgray);
    --quote-border: var(--k-beige);

    --warning-border: var(--k-orange);

    --table-border-color: var(--k-beige);
    --table-header-bg: var(--k-darkgray);
    --table-alternate-bg: var(--k-darkgray);

    --searchbar-border-color: var(--k-beige);
    --searchbar-bg: var(--k-darkgray);
    --searchbar-fg: var(--k-beige);
    --searchbar-shadow-color: transparent;
    --searchresults-header-fg: var(--k-white);
    --searchresults-border-color: var(--k-beige);
    --searchresults-li-bg: var(--k-darkgray);
    --search-mark-bg: var(--k-orange);

    --color-scheme: dark;
}

.max {
    --bg: var(--k-darkgray);
    --page-bg: var(--k-black);
    --bg-bg: var(--k-black);
    --fg: var(--k-white);

    --sidebar-bg: var(--k-black);
    --sidebar-fg: var(--k-beige);
    --sidebar-non-existant: var(--k-orange);
    --sidebar-active: var(--k-orange);
    --sidebar-spacer: var(--k-beige);

    --scrollbar: var(--page-bg);

    --icons: var(--k-beige);
    --icons-hover: var(--k-white);

    --links: var(--k-orange);

    --inline-code-color: var(--k-white);
    --inline-code-bg: rgba(255, 255, 255, 0.1);

    --code-box-color: var(--k-white);
    --code-box-bg: rgba(255, 255, 255, 0.1);

    --theme-popup-bg: var(--k-darkgray);
    --theme-popup-border: var(--k-beige);
    --theme-hover: var(--k-darkgray);

    --quote-bg: var(--k-darkgray);
    --quote-border: var(--k-beige);

    --warning-border: var(--k-orange);

    --table-border-color: var(--k-beige);
    --table-header-bg: rgba(255, 255, 255, 0.1);
    --table-alternate-bg: rgba(255, 255, 255, 0.1);

    --searchbar-border-color: var(--k-beige);
    --searchbar-bg: var(--k-darkgray);
    --searchbar-fg: var(--k-beige);
    --searchbar-shadow-color: transparent;
    --searchresults-header-fg: var(--k-white);
    --searchresults-border-color: var(--k-beige);
    --searchresults-li-bg: var(--k-darkgray);
    --search-mark-bg: var(--k-orange);

    --color-scheme: dark;
}

.gnucci {
    --bg: #2a1b17;
    /* Deep espresso */
    --bg-bg: #2a1b17;
    /* Deep espresso */
    --page-bg: #2a1b17;
    /* Deep espresso */
    --fg: #b7c6cc;
    /* Soft slate gray */

    --sidebar-bg: #462a15;
    /* Dark walnut */
    --sidebar-fg: #c78919;
    /* Burnt orange */
    --sidebar-non-existant: #ae9a89;
    /* Muted taupe */
    --sidebar-active: #b7c6cc;
    /* Soft slate gray for better contrast */
    --sidebar-spacer: #31667a;
    /* Ocean teal */

    --scrollbar: var(--sidebar-bg);

    --icons: #c06346;
    /* Rusty red */
    --icons-hover: #b7c6cc;
    /* Soft slate gray */

    --links: #ffcb69;

    --inline-code-color: #c78919;
    /* Burnt orange */

    --theme-popup-bg: #19281f;
    /* Dark pine green */
    --theme-popup-border: #31667a;
    /* Ocean teal */
    --theme-hover: #2a1b17;
    /* Deep espresso */

    --quote-bg: #462a15;
    /* Dark walnut */
    --quote-border: #672c2c;
    /* Deep burgundy */

    --warning-border: #c06346;
    /* Rusty red */

    --table-border-color: #ae9a89;
    /* Muted taupe */
    --table-header-bg: #31667a;
    /* Ocean teal */
    --table-alternate-bg: #19281f;
    /* Dark pine green */

    --searchbar-border-color: #c78919;
    /* Burnt orange */
    --searchbar-bg: #ae9a89;
    /* Muted taupe */
    --searchbar-fg: #b7c6cc;
    /* Soft slate gray */
    --searchbar-shadow-color: #672c2c;
    /* Deep burgundy */
    --searchresults-header-fg: #c06346;
    /* Rusty red */
    --searchresults-border-color: #044241;
    /* Dark forest green */
    --searchresults-li-bg: #462a15;
    /* Dark walnut */
    --search-mark-bg: #c78919;
    /* Burnt orange */

    --color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    .light.no-js {
        --bg: hsl(200, 7%, 8%);
        --fg: #98a3ad;

        --sidebar-bg: #292c2f;
        --sidebar-fg: #a1adb8;
        --sidebar-non-existant: #505254;
        --sidebar-active: #3473ad;
        --sidebar-spacer: #393939;

        --scrollbar: var(--sidebar-fg);

        --icons: #43484d;
        --icons-hover: #b3c0cc;

        --links: #2b79a2;

        --inline-code-color: #c5c8c6;

        --theme-popup-bg: #141617;
        --theme-popup-border: #43484d;
        --theme-hover: #1f2124;

        --quote-bg: hsl(234, 21%, 18%);
        --quote-border: hsl(234, 21%, 23%);

        --warning-border: #ff8e00;

        --table-border-color: hsl(200, 7%, 13%);
        --table-header-bg: hsl(200, 7%, 28%);
        --table-alternate-bg: hsl(200, 7%, 11%);

        --searchbar-border-color: #aaa;
        --searchbar-bg: #b7b7b7;
        --searchbar-fg: #000;
        --searchbar-shadow-color: #aaa;
        --searchresults-header-fg: #666;
        --searchresults-border-color: #98a3ad;
        --searchresults-li-bg: #2b2b2f;
        --search-mark-bg: #355c7d;
    }
}

@media only screen and (max-width: 600px) {
    html {
        --sidebar-width: 50vw !important;
    }
}